In [1]:
import pandas_datareader as pdr
key="1fc5722105329d891aac5526b7b85735c653ce81"

df = pdr.get_data_tiingo('AAPL', api_key=key)
df.to_csv('AAPL.csv')

In [2]:
import pandas as pd

data=pd.read_csv('AAPL.csv')
data.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,AAPL,2017-05-19 00:00:00+00:00,153.06,153.98,152.63,153.38,26733798,36.217605,36.435299,36.115857,36.293325,106935192,0.0,1.0
1,AAPL,2017-05-22 00:00:00+00:00,153.99,154.58,152.91,154.00,22340069,36.437665,36.577273,36.182112,36.440031,89360276,0.0,1.0
2,AAPL,2017-05-23 00:00:00+00:00,153.80,154.90,153.31,154.90,19430358,36.392707,36.652993,36.276761,36.652993,77721432,0.0,1.0
3,AAPL,2017-05-24 00:00:00+00:00,153.34,154.17,152.67,153.84,19118319,36.283860,36.480257,36.125322,36.402172,76473276,0.0,1.0
4,AAPL,2017-05-25 00:00:00+00:00,153.87,154.35,153.03,153.73,19044463,36.409270,36.522850,36.210507,36.376143,76177852,0.0,1.0

In [3]:
da=data['date']
data[['date','time']]=da.str.split(' ',n=1,expand=True)

In [5]:
data.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor,time
0,AAPL,2017-05-19,153.06,153.98,152.63,153.38,26733798,36.217605,36.435299,36.115857,36.293325,106935192,0.0,1.0,00:00:00+00:00
1,AAPL,2017-05-22,153.99,154.58,152.91,154.00,22340069,36.437665,36.577273,36.182112,36.440031,89360276,0.0,1.0,00:00:00+00:00
2,AAPL,2017-05-23,153.80,154.90,153.31,154.90,19430358,36.392707,36.652993,36.276761,36.652993,77721432,0.0,1.0,00:00:00+00:00
3,AAPL,2017-05-24,153.34,154.17,152.67,153.84,19118319,36.283860,36.480257,36.125322,36.402172,76473276,0.0,1.0,00:00:00+00:00
4,AAPL,2017-05-25,153.87,154.35,153.03,153.73,19044463,36.409270,36.522850,36.210507,36.376143,76177852,0.0,1.0,00:00:00+00:00

In [6]:
data.to_csv('AAPL1.csv')